.compa{
    background-color:aquamarine;
    padding: 5px;
    margin:8px;
}
.compb{
    background-color:blue;
    padding: 5px;
    margin:8px;
}
.compc{
    background-color:yellow;
    padding: 5px;
    margin:8px;
}